
/** ASCTrack Instruction **/

div.asct-instruction-add,
div.asct-instruction {
  display: flex;
  /*overflow: hidden;*/
  padding: 1px 2px;
  margin: 0 1px;
  color: white;
  border: 1px outset #AAA;
  border-radius: 3px;
  background-color: #777;
}

div.asct-instruction-add,
div.asct-instruction.cursor {
  border-color: #ffffff;
  position: relative;
  /*z-index: 2;*/
}

div.asct-instruction-add,
div.asct-instruction.selected {
  background-color: #1e50ce;
  box-shadow: #ffffff 0 0 4px;
  font-weight: bold;
}

div.asct-instruction-add {
  /*transition: opacity 0.25s;*/
  font-weight: bold;
  padding: 1px 4px;
}

div.asct-instruction:last-child {
  margin-right: 0;
}

/*div.asct-instruction-add,*/
div.asct-instruction:active {
  background-color: #004;
}




div.asc-track:not(.selected) div.asct-instruction-add {
  display: none;
}



/** Playing **/
div.asct-instruction.playing {
  font-weight: bold;
  background-color: #80d55c;
}





/** ASCTrack Instruction Parameters **/

div.asct-parameter {
  padding: 0 2px;
}

div.asct-parameter:not(:first-child) {
  position: relative;
  border-left: 1px solid #888;
}

div.asct-parameter.velocity,
div.asct-parameter.duration,
div.asct-parameter.custom {
  /*overflow: hidden;*/
  /*animation: slide-open 1s;*/
}

@keyframes slide-open {
  0% { max-width: 0px; }
  100% { max-width: 99px; }
}

div.asct-parameter.frequency,
div.asct-parameter.command {
  color: white;
}
div.asct-parameter.program {
  color: #6969ff;
}
div.asct-parameter.duration {
  color: #ff69ff;
}
div.asct-parameter.velocity {
  color: #7aff7a;
}

div.asct-parameter.command,
div.asct-parameter.velocity,
div.asct-parameter.duration,
div.asct-parameter.custom {
  /*overflow: hidden;*/
  margin: 0;
}



/*asc-track > div.selection-rect {*/
/*    z-index: 99;*/
/*    position: fixed;*/
/*    border: 1px outset #00F;*/
/*    border-radius: 4px;*/
/*    background-color: #00F4;*/
/*    box-shadow:  1px 1px 4px #777;*/
/*}*/
