
div.polyphony-instrument-renderer div.header > div.title {
    margin-left: 4px;
}
div.polyphony-instrument-renderer div.instrument-config {
    /*margin: 2px;*/
}

div.polyphony-instrument-renderer div.instrument-preset {
    margin-left: auto;
}




div.polyphony-instrument-renderer {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-flex;
    vertical-align: top;
}


div.polyphony-instrument-renderer.active {
    background: #AAD;
}


div.polyphony-instrument-renderer > div.header {
    /* font-size: smaller; */
    border-bottom: 1px solid #AAA;
    margin-bottom: 1px;
    padding: 2px 3px;
    display: flex;
    /* background-color: #CCC; */
}

div.polyphony-instrument-renderer > div.header > button.toggle-container {
}

/** Voices **/

div.polyphony-instrument-renderer > div.voices {
    /*max-width: 50vw;*/
}

div.polyphony-instrument-renderer > div.voices {
    display: inline-flex;
    vertical-align: top;
    /*margin: 3px;*/

    /*padding: 4px;*/
    /*color: #000;*/
    /*border: 1px outset #EEE;*/
    /*border-radius: 4px;*/
    /*background-color: #CCC;*/
    /*position: relative;*/
}

div.polyphony-instrument-renderer > div.add-voice {
    /*border-radius: 4px;*/
    /*flex-flow: column;*/
}
