

div.audiobuffer-instrument-container {
    display: inline-flex;
    /*min-width: 480px;*/
    text-align: center;
    margin: 2px;

    padding: 1px;
    color: #000;
    border: 1px outset #EEE;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
}

div.audiobuffer-instrument-container.open {
    background-color: #FFF;
}
