/** Host Element **/

:host {
    display: inline-block;
}

/** Full Screen **/
:host(.fullscreen) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}






/** Font styles **/

div.asp-container input,
div.asp-container button,
div.asp-container {
    font-size: large;
}

span.error {
    font-color: red;
    font-weight: bold;
}



/** Container **/
/** Font Style **/
div.asp-container {
    font-family: monospace;
    color: #000;
    background-color: #EEE;
    /* margin-top: -14px; */
    user-select: none;
    /*display: flex;*/
    /*flex-direction: column;*/
}


/** Visibility **/


:host(:not(.playing)) .show-on-playing,
:host(.playing) .hide-on-playing,
:host(.hide-panel-song) asp-panel.song,
:host(.hide-panel-playlist) asp-panel.playlist {
    display: none;
}

/** Header **/


/** Title **/


div.asp-title-container {
    display: flex;
    background-color: #888;
}

div.landscape > div.asp-title-container {
    flex-direction: column;
}
div.portrait > div.asp-title-container {
    flex-direction: row-reverse;
}


div.asp-title-text {
    margin: 0 auto;
    font-weight: bold;
    color: #333;
}


/** Menu Container **/

div.asp-menu-container {
    display: flex;
    flex-direction: row;
}



div.asp-menu-container {
    background-color: #bdc3c7;
}

div.asp-menu-container > div.asui-menu-item {
    padding: 0px 8px 0px 4px;
}



/** Portrait Menu Button **/
div.asp-menu-button-toggle {
    background: none;
    border: none;
}

div.asp-menu-button-toggle > div.asui-icon {
    height: 2em;
    width: 2em;
    transition: transform 0.3s ease-out;
}

div.asp-menu-button-toggle.stick > div.asp-icon {
    transform: rotate(90deg);
}


div.asui-contextmenu-dropdown > div.asui-menu-item > div.title {
    padding: 0.5em;
}


/** Footer **/

div.asp-status-text {
    padding-left: 4px;
}
div.asp-status-text.error {
    color: red;
}
div.asp-version-text {
    /* float: right; */
    padding-right: 4px;
    margin-left: auto;
}


/** Status Bar **/
div.asp-footer-container {
    display: flex;
    background-color: #FFF;
    color: #000;
    padding: 0px;
}
